# Compiled class files
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# OS files
.DS_Store
Thumbs.db

# Selenium
chromedriver.exe
geckodriver.exe

# Logs
*.log